# Pymaceuticals Inc.
---

### Analysis

- Add your analysis here.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single DataFrame
mouse_merged_df = pd.merge(study_results,mouse_metadata, on='Mouse ID')

# Display the data table for preview
mouse_merged_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22

In [2]:
# Checking the number of mice.
unique_mouse_IDs = len(mouse_merged_df['Mouse ID'].unique())
unique_mouse_IDs

249

In [3]:
# Our data should be uniquely identified by Mouse ID and Timepoint
# Get the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html
mouse_duplicate = mouse_merged_df[mouse_merged_df.duplicated(subset=['Mouse ID', 'Timepoint'], keep=False)]
mouse_duplicate

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
860,g989,0,45.000000,0,Propriva,Female,21,26
861,g989,0,45.000000,0,Propriva,Female,21,26
862,g989,5,48.786801,0,Propriva,Female,21,26
863,g989,5,47.570392,0,Propriva,Female,21,26
864,g989,10,51.745156,0,Propriva,Female,21,26
865,g989,10,49.880528,0,Propriva,Female,21,26
866,g989,15,51.325852,1,Propriva,Female,21,26
867,g989,15,53.442020,0,Propriva,Female,21,26
868,g989,20,55.326122,1,Propriva,Female,21,26
869,g989,20,54.657650,1,Propriva,Female,21,26

In [4]:
# Optional: Get all the data for the duplicate mouse ID. 
mouseinfo_g989 = mouse_merged_df[mouse_merged_df['Mouse ID'] == 'g989']
mouseinfo_g989

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
860,g989,0,45.000000,0,Propriva,Female,21,26
861,g989,0,45.000000,0,Propriva,Female,21,26
862,g989,5,48.786801,0,Propriva,Female,21,26
863,g989,5,47.570392,0,Propriva,Female,21,26
864,g989,10,51.745156,0,Propriva,Female,21,26
865,g989,10,49.880528,0,Propriva,Female,21,26
866,g989,15,51.325852,1,Propriva,Female,21,26
867,g989,15,53.442020,0,Propriva,Female,21,26
868,g989,20,55.326122,1,Propriva,Female,21,26
869,g989,20,54.657650,1,Propriva,Female,21,26
870,g989,25,56.045564,1,Propriva,Female,21,26
871,g989,30,59.082294,1,Propriva,Female,21,26
872,g989,35,62.570880,2,Propriva,Female,21,26

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
drop_mouse = 'g989'
mice_trimmed_df = mouse_merged_df[mouse_merged_df['Mouse ID'] != drop_mouse]
mice_trimmed_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22

In [6]:
# Checking the number of mice in the clean DataFrame.
trimmed_mouse_IDs = len(mice_trimmed_df['Mouse ID'].unique())
trimmed_mouse_IDs

248

## Summary Statistics

In [26]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# Do each of these individually
mice_mean = mice_trimmed_df.groupby('Drug Regimen')['Tumor Volume (mm3)'].mean()
mice_med = mice_trimmed_df.groupby('Drug Regimen')['Tumor Volume (mm3)'].median()
mice_std = mice_trimmed_df.groupby('Drug Regimen')['Tumor Volume (mm3)'].std()

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary DataFrame.
# Need to put the above into a dictionary 
mice_drugr_df = pd.DataFrame({'Mice Mean': mice_mean, 
                           'Mice Median': mice_med
                          })

mice_drugr_df

              Mice Mean  Mice Median
Drug Regimen
Capomulin     40.675741    41.557809
Ceftamin      52.591172    51.776157
Infubinol     52.884795    51.820584
Ketapril      55.235638    53.698743
Naftisol      54.331565    52.509285
Placebo       54.033581    52.288934
Propriva      52.320930    50.446266
Ramicane      40.216745    40.673236
Stelasyn      54.233149    52.431737
Zoniferol     53.236507    51.818479

In [29]:
# A more advanced method to generate a summary statistics table of mean, median, variance, standard deviation,
# and SEM of the tumor volume for each regimen (only one method is required in the solution)

# Using the aggregation method, produce the same summary statistics in a single line
mice_agg = mice_trimmed_df.groupby('Drug Regimen')['Tumor Volume (mm3)'].aggregate(['mean', 'median', 'std'])
mice_agg

                   mean     median       std
Drug Regimen
Capomulin     40.675741  41.557809  4.994774
Ceftamin      52.591172  51.776157  6.268188
Infubinol     52.884795  51.820584  6.567243
Ketapril      55.235638  53.698743  8.279709
Naftisol      54.331565  52.509285  8.134708
Placebo       54.033581  52.288934  7.821003
Propriva      52.320930  50.446266  6.622085
Ramicane      40.216745  40.673236  4.846308
Stelasyn      54.233149  52.431737  7.710419
Zoniferol     53.236507  51.818479  6.966589

## Bar and Pie Charts

In [32]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using Pandas.
drug_count = mice_trimmed_df['Drug Regimen'].value_counts()
drug_count.plot(kind)
# x_axis = []
# y_axis =
# plt.bar()

TypeError: `Series.plot()` should not be called with positional arguments, only keyword arguments. The order of positional arguments will change in the future. Use `Series.plot(kind='bar')` instead of `Series.plot('bar',)`.

In [10]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original DataFrame to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes

    
    # add subset 

    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot that shows the distrubution of the tumor volume for each treatment group.

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a single mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight vs. the average observed tumor volume for the entire Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and a linear regression model 
# for mouse weight and average observed tumor volume for the entire Capomulin regimen